body {
    display: flex;

    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar{
    background-image: url(images/bg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.627);
    margin-top: 450px;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.overlay img{
    height: 100px;
    width: auto;
}


.content{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.content-intro, .content-end{
    padding: 20px 30px;
    background-color: rgba(218, 218, 218, 0.552);
    font-size: 1.1em;
}



#form{
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.formrow{
    display: flex;
    gap: 40px;
}

label, input {
    display: block; /* Make both label and input elements block-level elements */
    margin-bottom: 10px; /* Add margin between each pair of label and input */
}

.content-end{
    height: 100%;
}
input{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #a3a3a3;
    width: 200px;
}

input:focus{
    outline: none;
    border: 2px solid #94c6ff;
    box-shadow: 0 0 10px #94c6ff;
}
input:invalid{
    border: 2px solid red;
}

button{
    border: none;
    padding: 15px 25px;
    background-color: #94c6ff;
    border-radius: 10px;
    font-size: 1.1em;
}
a{
    text-decoration: none;
    color: #94c6ff;
}
.req{
    color: rgba(128, 128, 128, 0.704);
}